#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background: linear-gradient(
    135deg,
    #001f3f,
    #2e5984,
    #0074d9,
    #00aaff,
    #bcd2e8
  );
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.title-1 {
  position: absolute;
  top: 3rem;
  left: 4rem;
  text-align: left;
  color: rgb(176, 205, 218);
  font-size: 4rem;
}

.title {
  position: absolute;
  font-size: 3.5rem;
  color: white;
  justify-content: center;
  top: 10rem;
  left: 4rem;
  text-align: left;
}

.login-button {
  position: absolute;
  top: 25rem;
  left: 4rem;
  color: #000;
  background-color: #90e0ef;
}

.background {
  opacity: 0.5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.background img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.description {
  position: absolute;
  top: 20rem;
  left: 4rem;
  color: #fff;
}

.logo {
  position: absolute;
  top: 4rem;
  right: 3rem;
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.icons {
  color: white;
}

.icon-1 {
  top: 5rem;
  position: absolute;
  top: 30rem;
  left: 15rem;
}

.icon-2 {
  position: absolute;
  top: 30rem;
  left: 43rem;
}

.icon-3 {
  position: absolute;
  top: 30rem;
  left: 70rem;
}

.logo-1,
.logo-2,
.logo-3 {
  width: 4rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
